@font-face {
    font-family: iransansdn;
    font-style: normal;
    font-weight: bold;
    src: url('../font/eot/iransansdnbold.eot');
    src: url('../font/eot/iransansdnbold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('../font/woff2/iransansdnbold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('../font/woff/iransansdnbold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../font/ttf/iransansdnbold.ttf') format('truetype');
}

@font-face {
    font-family: iransansdn;
    font-style: normal;
    font-weight: 300;
    src: url('../font/eot/iransansdnlight.eot');
    src: url('../font/eot/iransansdnlight.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('../font/woff2/iransansdnlight.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('../font/woff/iransansdnlight.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../font/ttf/iransansdnlight.ttf') format('truetype');
}

@font-face {
    font-family: iransansdn;
    font-style: normal;
    font-weight: normal;
    src: url('../font/eot/iransansdn.eot');
    src: url('../font/eot/iransansdn.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('../font/woff2/iransansdn.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('../font/woff/iransansdn.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../font/ttf/iransansdn.ttf') format('truetype');
}
*{
    font-family: iransansdn;
    text-align: right;
    direction: rtl;
}
.placeholder{
    font-size:14px ;
}

.dropdown-menu{
    border-radius: 30px;
    text-align: right;
    margin-left: -50px;
    font-size: small;
}
.information-site{
    background-color: #333;
    border-left: 40px #ffffff solid;
    border-right: 40px #ffffff solid;
    text-align: center;
    border-radius: 20%;
padding-bottom:2% ;
}
.information-site img{
    height: 150px;
}
.information-site span{
   color: #ffffff;
}
.nav-item{
    font-size: 15px;
}
.form-control::placeholder{
    font-size: 15px;
}
.post-item a{
    font-weight: bold;
    font-size: small;
    padding: 12px;
}
.post-item{
    border-radius: 1%;
    border:1px solid #ecf0f4;
    margin-top: 6%;
}

.post-item span{
    padding: 14px;
    font-size: 14px;
    opacity: .8;
}
a{
    text-decoration: none;
    color: #333;
    font-size: 13px;
}
a:hover{
    text-decoration: none;
    color: #007bff;
    font-size: 13.5px;
}
.seen-post{
    color: rgba(14, 14, 14, 0.53);
    padding-right: 6px;
    padding-bottom: 6px;
    float: right;
}
.name{
    color: #007bff;
    float: left;
}
.name a{
    color: #007bff;
}
.name:hover {
    color: #0e8f11;
}
.name a:hover {
    color: #0e8f11;
}
.seen-post:hover{
    font-size: medium;
    color: rgba(14, 14, 14, 0.72);
}
.information-site img:hover{
width: 50%;
}
.information-site span:hover{
    font-weight: bolder;
}
.post-item img:hover{
    width: 102%;
}
.img-hover{
    background-color: rgba(27, 30, 33, 0.7);
    width: 350px;
    height: 250px;
    position: absolute;
}
.post-item .img-hover a{
    margin: 26%;
    margin-top: 28%;
    position: absolute;
    color: #e9ecef;
    font-size: medium;
    border:2px #e9ecef solid ;
}
.hover-show{
    display: none;
}
.post-item:hover .hover-show{
    display: flex;
    transition:4s;
}
.footer1{
    background:url('https://toplearn.com/site/images/footer-pattern.png') repeat 0 0 #153248 ;
    height: 10%;
    width: 100%;
}
.img-footer{
    margin-top: 20%;
    height: 150px;
    border-radius: 5px;
}
.input-footer{
    padding-top: 2%;
    text-align: center;
}

.input-footer-inner{
    margin-top: 4%;
     padding:1% 2%;
     border: #e9ecef;
}
.input-footer-inner::placeholder{
    font-size: small;
}
.end{
    text-align: center;
    font-weight: bold;
}
.dashed{
    margin-top: 4%;
}
.buttun1{

    border-radius: 0;
    width: 100px;
    height: 55px;
}
.container .under_text ul li a{
    color: #e9ecef;
    padding-left: 35px;
}
.under_text ul{
    display: flex !important;
}
.under_text ul:hover{
    color: #007bff;
}
.icon_footer svg{
    width: 121%;
    color: rgba(255, 250, 240, 0.63);

}
.icon_footer svg:hover{
    font-weight: bold;
    width: 122%;
    color: #faf9f7;
}
.icon_footer{
   padding: 1%;
}

@media (min-width:360px) {
    .input-footer-inner{
        margin: 0;
        padding: 3.75% 1%;
    }
    .buttun1{
        height:13.5%;
        width: 93px;
    }
}
@media (min-width:770px) {
    .input-footer-inner{
        padding:1% 3%;
    }
    .buttun1{
        height: 39px;
        width: 151px;
    }
}
@media (min-width:800px) {
    .input-footer-inner{
        padding:1% 3%;
    }
    .buttun1{
        height: 39px;
        width: 151px;
    }
    /*.dashed{*/
    /*    height: 90px;*/
    /*    width: 15%;*/
    /*}*/
}